.loading {
  text-align: center;
  padding: 4rem;
  color: var(--text-secondary);

  .loading__spinner {
    border: 0.3rem solid var(--gray-100);
    border-top: 0.3rem solid var(--primary);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 1s linear infinite;
    margin: 0 auto var(--spacing-lg);
  }
}
